@use "_tasto.scss";
@import "_variabili.scss";



.sezione {
    width: 100%;
    margin: 0px;
    padding: 0px;
    .navbar{
        background-color: $primary-color;
        height: 4rem;
        display: grid;
        justify-content: space-evenly;
        align-content: center;
        border-radius: 7px;

         .botton{
            &:hover{
                color: #ff0000;
            }
            font-size: $text-size;
            text-decoration: none;
            color: $text-color;
            font-style: sans-serif;
            text-decoration: none;
            
        }       .botton:last-child {
                    @extend .btn;
                    border: solid 5px;
                    border-color: #333333;
                    
        }
        
    }
    
}



.full-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 43, 43, 0.199);
    border: #ff0000;
    border-radius: 50px;
}

.btn {
    background-color: #e7e7e7;
}

.conteiner-1 {
    display: grid;
    justify-content:space-evenly ;
    grid-template-rows: 33vw 66vw;
    height: 0;
    font-size: $text-size;

    .conteiner-2 {
        @extend .conteiner-1
    }
        .para1 {
            display: grid;
            align-items: center;
                .para2 {
                    @extend .para1;
                }
    }
}

.conteiner-tasto {
   
    .tasto-prova {
        background-color: tasto.$primary-color;
    }
}



@mixin theme-navbar($theme) {
    @if $theme == light {
      background-color: #ffffff;
      color: #000000;
  
      .menu-item {
        color: #000000;
        
        &:hover {
          color: #ffcc00; 
        }
      }
    } @else if $theme == dark {
      background-color: #000000;
      color: #ffffff;
  
      .menu-item {
        color: #ffffff;
        
        &:hover {
          color: #ffcc00; 
        }
      }
    }
  }
  
 
  .navbar {
    @include theme-navbar(light);
  
    &.dark-theme {
      @include theme-navbar(dark);
    }
  }

  @function px-to-em($px-size, $base-size: 16px) {
    @return $px-size / $base-size * 1em;
  }