$primary-color: rgb(13, 13, 13);
$text-color: rgb(91, 145, 11);




.sezione {
    width: 100%;
    margin: 0px;
    padding: 0px;
    .navbar{
        background-color: $primary-color;
        height: 4rem;
        display: grid;
        justify-content: space-evenly;
        align-content: center;
        border-radius: 7px;

         .botton{
            &:hover{
                color: #ff0000;
            }
            font-size: 18px;
            text-decoration: none;
            color: $text-color;
            font-style: sans-serif;
            text-decoration: none;
            }
        }
    }



.full-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 43, 43, 0.199);
    border: #ff0000;
    border-radius: 50px;
    .div{
        color: rgba(45, 43, 43, 0.199);
        border: #ff0000;
        border-radius: 50px;

        
    }


}